.git
.gitignore
node_modules
*.log
*.tgz
.npmignore
tsconfig.json
generate.ts

# temporary files 
tmp
temp
temp/*
.temp

# Ensure templates are included
!src/templates/**
!dist/src/templates/**

# Test files
src/test/
src/api*/