import { z } from 'zod';
{{#hasRegexImport}}
import { REGEX_DATE, REGEX_DECIMAL_11_4, REGEX_DECIMAL_6_4, REGEX_DECIMAL_FLEXIBLE } from '../constants/regex-constants';
{{/hasRegexImport}}
{{#nestedModels}}
import { {{.}} } from './{{.}}';
{{/nestedModels}}

export const {{modelName}} = z.object({
{{#properties}}
  {{name}}: {{#isRef}}{{refName}}{{/isRef}}{{^isRef}}{{{zodType}}}{{/isRef}},
{{/properties}}
});

export type I{{modelName}}Serializer = z.infer<typeof {{modelName}}>;
