import { z } from 'zod';
{{#hasRegexImport}}
import { {{#regexImports}}{{.}}{{^last}}, {{/last}}{{/regexImports}} } from '{{{constantsImportPrefix}}}/regex-constants';
{{/hasRegexImport}}
{{#enumImports}}
import { {{.}} } from '{{{constantsImportPrefix}}}/{{.}}';
{{/enumImports}}
{{#nestedModels}}
import { {{name}} } from '{{{importPath}}}';
{{/nestedModels}}

export const {{modelName}} = z.object({
{{#properties}}
  {{name}}: {{#isRef}}{{refName}}{{/isRef}}{{^isRef}}{{{zodType}}}{{/isRef}},
{{/properties}}
});

export type I{{modelName}}Schema = z.infer<typeof {{modelName}}>;
