{{#imports}}
import { {{name}} } from '../models/{{fileName}}';
{{/imports}}

{{#interfaces}}
export interface {{name}} {
{{#properties}}
  {{name}}{{#optional}}?{{/optional}}: {{type}};
{{/properties}}
}
{{/interfaces}}
