{{#imports}}
{{#isEnum}}
import { {{name}} } from '{{{constantsImportPrefix}}}/{{{fileName}}}';
{{/isEnum}}
{{^isEnum}}
import { {{name}} } from '{{{modelsImportPrefix}}}/{{{fileName}}}';
{{/isEnum}}
{{/imports}}

{{#interfaces}}
export interface {{name}} {
{{#properties}}
{{#description}}
  /** {{description}} */
{{/description}}
  {{name}}{{#optional}}?{{/optional}}: {{type}};
{{/properties}}
}
{{/interfaces}}
