{{#imports}}
{{#isEnum}}
import { {{name}} } from '../constants/{{fileName}}';
{{/isEnum}}
{{^isEnum}}
import { {{name}} } from '../models/{{fileName}}';
{{/isEnum}}
{{/imports}}

{{#interfaces}}
export interface {{name}} {
{{#properties}}
  {{name}}{{#optional}}?{{/optional}}: {{type}};
{{/properties}}
}
{{/interfaces}}
