/* eslint-disable */
import { createApi, fetchBaseQuery } from '@reduxjs/toolkit/query/react';
import { transformErrorResponse} from '../../redux/response';
import { toQueryString } from '../../redux/query';
import { TAGS } from '../../constants/tags';
import { RootState } from '../../redux/store';
import { API_CONFIG, getApiUrl } from '../../redux/config/api';
// import { IFilters } from '../../redux/types';

{{#uniqueImports}}
{{#modelName}}
import { {{interface}} } from '../../models/{{modelName}}';
{{/modelName}}
{{/uniqueImports}}
{{#uniqueParamImports}}
{{#modelName}}
import { {{interface}} } from '../../params/{{modelName}}';
{{/modelName}}
{{/uniqueParamImports}}


export const {{sliceName}} = createApi({
  reducerPath: {{{slicePath}}},
  baseQuery: fetchBaseQuery({
    baseUrl: API_CONFIG.BASE_URL,
    prepareHeaders: (headers, { getState }) => {
      const access_token = (getState() as RootState).auth?.access_token;
      if (access_token) {
        headers.set('Authorization', `Bearer ${access_token}`);
      }
      return headers;
    },
  }),
  tagTypes: Object.values(TAGS),
  endpoints: (builder) => ({ {{#endpoints}}
    {{name}}: builder.{{method}}<{{interface}}{{#isResponseArray}}[]{{/isResponseArray}}, {{#paramInterfaceName}}{{paramInterfaceName}}{{/paramInterfaceName}}{{^paramInterfaceName}}{{#requestBodyType}}{{requestBodyType}}{{#isRequestBodyArray}}[]{{/isRequestBodyArray}}{{/requestBodyType}}{{^requestBodyType}}{{{types}}}{{/requestBodyType}}{{/paramInterfaceName}}>({
      {{^isMutation}}{{#isListEndpoint}}
      query: ({{#hasPathParams}}{ {{pathParamsList}}, ...params }{{/hasPathParams}}{{^hasPathParams}}{{#params}}{{params}}{{/params}}{{^params}}_{{/params}}{{/hasPathParams}}) => {        
        let url = `{{{path}}}`;
        {{#hasPathParams}}
        const qs = toQueryString(params as Record<string, any>)
        {{/hasPathParams}}
        {{^hasPathParams}}
        {{#params}}
        const qs = toQueryString({{params}} as Record<string, any>)
        {{/params}}
        {{/hasPathParams}}
        {{#params}}
        return `${url}?${qs}`
        {{/params}}
        {{^params}}
        return url
        {{/params}}
      },
      transformErrorResponse: transformErrorResponse,
      providesTags: [TAGS.{{tag}}],
    }),
    {{/isListEndpoint}}
    {{^isListEndpoint}}
      query: ({{#hasPathParams}}{ {{pathParamsList}}{{#params}}, ...params{{/params}} }{{/hasPathParams}}{{^hasPathParams}}{{#params}}{{params}}{{/params}}{{^params}}_{{/params}}{{/hasPathParams}}) => {
        let url = `{{{path}}}`;
        {{#params}}
        {{#hasPathParams}}
        const qs = toQueryString(params as Record<string, any>)
        {{/hasPathParams}}
        {{^hasPathParams}}
        const qs = toQueryString({{params}} as Record<string, any>)
        {{/hasPathParams}}
        return `${url}?${qs}`;
        {{/params}}
        {{^params}}
        return url;
        {{/params}}
      },
      transformErrorResponse: transformErrorResponse,
      providesTags: [TAGS.{{tag}}],
    }),
    {{/isListEndpoint}}{{/isMutation}}{{#isMutation}}
      query: ({{#paramInterfaceName}}{{#requestBodyType}}{ {{#allNonBodyParams}}{{allNonBodyParams}}, {{/allNonBodyParams}}body }{{/requestBodyType}}{{^requestBodyType}}{{#hasPathParams}}{ {{pathParamsList}} }{{/hasPathParams}}{{^hasPathParams}}params{{/hasPathParams}}{{/requestBodyType}}{{/paramInterfaceName}}{{^paramInterfaceName}}body{{/paramInterfaceName}}) => {
        let url = `{{{path}}}`;
        return {
          url,
          method: '{{httpMethod}}',{{#requestBodyType}}
          body,{{/requestBodyType}}
          headers: {
            'Content-Type': '{{{contentType}}}',
          },
        };
      },
      transformErrorResponse: transformErrorResponse,
      invalidatesTags: [TAGS.{{tag}}],
    }),
    {{/isMutation}}
  {{/endpoints}}
  }),
});

export const {
  {{#endpoints}}{{#isQuery}}
  use{{exportName}}Query,{{/isQuery}}{{#isQuery}}
  useLazy{{exportName}}Query,{{/isQuery}}{{#isMutation}}
  use{{exportName}}Mutation,{{/isMutation}}
  {{/endpoints}}
} = {{sliceName}};
