import { combineReducers, configureStore } from '@reduxjs/toolkit'
import { setupListeners } from '@reduxjs/toolkit/query/react'
import { persistReducer, persistStore } from 'redux-persist'
{{#services}}
import { {{name}} } from '../services/{{path}}/{{name}}'
{{/services}}
{{#thunks}}
import {{thunkName}} from '../thunks/{{path}}/{{sanitizedPath}}.thunk'
{{/thunks}}
import authReducer from '../slices/authSlice'
import branchStateReducer from '../slices/branchStateSlice'

// Create a no-op storage for server-side rendering
const createNoopStorage = () => {
  return {
    getItem(_key: string) {
      return Promise.resolve(null)
    },
    setItem(_key: string, _value: any) {
      return Promise.resolve(_value)
    },
    removeItem(_key: string) {
      return Promise.resolve()
    },
  }
}

// Use session storage on client, noop storage on server
const storage =
  typeof window !== 'undefined'
    ? require('redux-persist/lib/storage/session').default
    : createNoopStorage()

const persistConfig = {
  key: 'root',
  storage,
  whitelist: ['auth', 'branchState']
}

const rootReducer = combineReducers({
  auth: authReducer,
  branchState: branchStateReducer,
  {{#services}}
  [{{name}}.reducerPath]: {{name}}.reducer,
  {{/services}}
  {{#thunks}}
  {{sanitizedPath}}Thunks: {{thunkName}},
  {{/thunks}}
})

const persistedReducer = persistReducer(persistConfig, rootReducer)

export const store = configureStore({
  reducer: persistedReducer,
  middleware: (getDefaultMiddleware) =>
    (getDefaultMiddleware({
      serializableCheck: {
        ignoredActions: [
          'persist/PERSIST',
          'persist/REHYDRATE',
          'persist/PAUSE',
          'persist/PERSIST',
          'persist/PURGE',
          'persist/REGISTER'
        ]
      }
    }) as any).concat([
      {{#services}}
      {{name}}.middleware,
      {{/services}}
    ]),
  devTools: process.env.NODE_ENV !== 'production'
})

export const persistor = persistStore(store)
setupListeners(store.dispatch)

export type RootState = ReturnType<typeof store.getState>
export type AppDispatch = typeof store.dispatch
