/* eslint-disable */
import { createApi, fetchBaseQuery } from '@reduxjs/toolkit/query/react';
import { transformErrorResponse } from '../../redux/response';
import { TAGS } from '../../constants/tags';
import { {{interface}} } from '../../models/{{modelName}}';
{{#interface}}import { {{interface}}, IFilters } from '../../models/{{modelName}}';{{/interface}}
import { IList, IFilters } from '../../redux/types';

export const api = createApi({
  reducerPath: 'api',
  baseQuery: fetchBaseQuery({ baseUrl: '/api' }),
  endpoints: (builder) => ({
    {{#endpoints}}
    {{name}}: builder.{{method}}<{{#isListEndpoint}}IList<{{interface}}>{{/isListEndpoint}}{{^isListEndpoint}}{{interface}}{{/isListEndpoint}}, IFilters>({
      query: ({{params}}) => ({
        url: {{{path}}},
        method: '{{httpMethod}}',
        body: {{body}},
      }),
      transformErrorResponse: transformErrorResponse,
      {{#isMutation}}
      invalidatesTags: [TAGS.{{tag}}],
      {{/isMutation}}
      {{^isMutation}}
      providesTags: [TAGS.{{tag}}],
      {{/isMutation}}
    }),
    {{/endpoints}}
  }),
});
